
@{
    ViewBag.Title = "忘記密碼";
}

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<link href="~/Content/login.css" rel="stylesheet" />

<div class="pt-5 m-auto col-sm-12 col-md-6 col-lg-4">    
    <form method="post">
        <div class="card bg-light text-center justify-content-center">
            @Html.AntiForgeryToken()
            <h2>忘記密碼</h2>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <br />
                <div class="input-group mb-3 w-75">
                    <div class="input-group-prepend">
                        <span class="input-group-text fas" id="basic-addon1">&#xf007;</span>
                    </div>
                    <input type="email" id="fEmail" name="fEmail" class="form-control txtbox" placeholder="Enter email..." required autofocus>
                </div>
                <div class="input-group mb-3 w-75">
                    <div class="input-group-prepend">
                        <img src="~/GetAuthImg.ashx" style="height:95%;" class="" />
                    </div>
                    <input type="text" id="fAuth" name="fAuth" class="form-control txtbox" placeholder="輸入驗證碼" required value="">
                </div>
                <button class="btn btn-large btn-o col-10 btn-block" type="submit">寄送驗證信</button>
                @Html.ActionLink("取消", "Index", "Home", new { area = "" }, new { @class = "" })
                <br />
                <div class="text-center">
                    <span style="color:red">@ViewBag.Msg</span>
                </div>
            </div>
        </div>
    </form>
</div>


