@{
    ViewBag.Title = "關於我";
}


<link href="~/Content/font.css" rel="stylesheet" />
<link href="~/Content/about.css" rel="stylesheet" />
<br />
<div class="container py-5">
    <div class="row d-flex justify-content-center w-100">
        <div class="text-center">         

            <div class="bg-light mt-3 p-5 rounded  aa">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    @*<img src="~/images/Logo.png" style="width:25em" />*@
                    <img src="~/images/Dog/DOG2.svg" style="width:25em" >
                </div>
                <h2 style="color:#5f5d5d">關於PetPet</h2>
                <a class="bb mt-3" style="color:#5f5d5d">
                    讓每一位主人和寵物都可以在PetPet找到好夥伴....<br />
                    在PetPet讓大家知道我家的寵物是個明星
                </a>
            </div>
        </div>
        </div>
    </div>



