/*背景色*/
body {
    /*background-color: #fcca99;*/
    background-image: url('images/BG.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Microsoft JhengHei,"微軟正黑",-apple-system, BlinkMacSystemFont, "微软雅黑","Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/*上方導覽列的顏色*/
.bg-w {
    /*background-color: rgba(255, 255, 255, 0.05) !important;*/
    background-image: url('images/BG.png') !important;
}

.font {
    font-family: Microsoft JhengHei;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px
}

.navbar-l .navbar-brand {
    color: #fff;
    letter-spacing: 2px
}

    .navbar-l .navbar-brand:hover, .navbar-l .navbar-brand:focus {
        color: #fff;
        letter-spacing: 2px
    }

.navbar-l .navbar-nav .nav-link {
    color: #fff;
    letter-spacing: 2px
}

    .navbar-l .navbar-nav .nav-link:hover, .navbar-l .navbar-nav .nav-link:focus {
        color: #065d61;
        letter-spacing: 2px
    }

    .navbar-l .navbar-nav .nav-link.disabled {
        color: rgba(0, 0, 0, 0.3);
        letter-spacing: 2px
    }

    .navbar-l .navbar-nav .show > .nav-link,
    .navbar-l .navbar-nav .active > .nav-link,
    .navbar-l .navbar-nav .nav-link.show,
    .navbar-l .navbar-nav .nav-link.active {
        color: #fff;
        letter-spacing: 2px
    }

.navbar-l .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: #fff;
    letter-spacing: 2px
}

.navbar-l .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-l .navbar-text {
    color: #fff;
    letter-spacing: 2px
}

    .navbar-l .navbar-text a {
        color: #fff;
    }

        .navbar-l .navbar-text a:hover, .navbar-l .navbar-text a:focus {
            color: #fff;
        }
/*導覽列的搜尋鈕*/
.btn-outline-success {
    color: #1e3541;
    border-color: #1e3541;
}

    .btn-outline-success:hover {
        background-color: #1e3541;
        border-color: #1e3541;
    }

    .btn-outline-success.disabled, .btn-outline-success:disabled {
        color: #1e3541;
    }

    .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
    .show > .btn-outline-success.dropdown-toggle {
        background-color: #1e3541;
        border-color: #1e3541;
    }

.dropdown-menu {
    /*background-color: #ffc499;*/
    background-image: url('images/bg.png') !important;
}

.dropdown-item {
    font-family: Microsoft JhengHei;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px
}

.Myfont {
    color: #ff6e2c;
    font-weight: normal;
    letter-spacing: 2px
}

.tfont {
    color: #ff6e2c;
    font-weight: bolder;
    letter-spacing: 3px
}


/*卡片顏色*/
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
  border: 1px solid #e1e1e1;
}

.bgw {
    background-color: rgba(255, 255, 255, 0.97) !important;
}

a.bgw:hover, a.bgw:focus,
button.bg-danger:hover,
button.bg-danger:focus {
    background-color: #ffffff !important;
}

.textb {
    color: #1e3541 !important;
    letter-spacing: 2px
}

.NEWrounded-top {
    border-top-left-radius: 0.8rem !important;
    border-top-right-radius: 0.8rem !important;
}

.NEWrounded-all {
    border-top-left-radius: 0.8rem !important;
    border-top-right-radius: 0.8rem !important;
    border-bottom-left-radius: 0.8rem !important;
    border-bottom-right-radius: 0.8rem !important;
}

.bg-petpet {
    background-color: #FFC8B4 !important;
}

a.bg-petpet:hover, a.bg-petpet:focus,
button.bg-petpet:hover,
button.bg-petpet:focus {
    background-color: #FFDDAA !important;
}
.card-foot:last-child {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    
  
}
.card-img-top {
    width: 100%;

    
}
.card-img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.Myfont1 {
    color: rgba(0, 0, 0, 0.5);
    font-weight:bold;
    letter-spacing: 1.5px;
}
.btn-o {
    color: #ffffff;
    background-color: #ff6e2c;
    border-color: #ff6e2c;
    border-radius: 50px
}

    .btn-o:hover {
        color: #ff6e2c;
        background-color: #fffaf8;
        border-color: #ff6e2c;
        border-radius: 50px;
    }

    .btn-o:focus, .btn-o.focus {
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    }

    .btn-o.disabled, .btn-o:disabled {
        color: #ffffff;
        background-color: #007bff;
        border-color: #007bff;
    }
.cardl {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: #fff;
    border-radius: 2rem;
    box-shadow: 20px 20px 50px rgba(138, 37, 12, 0.49)
}
.txtbox {
    background-color:#ffeddf;
}